services:
  db:
    image: postgres:trixie
    container_name: health-point-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - health-point-volume:/var/lib/postgresql
    profiles:
      - prod
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 5s
      start_interval: 5s

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_URL: jdbc:postgresql://db:5432/${DB_NAME}
      JWT_SECRET: ${JWT_SECRET}
      PASSWORD_STRENGTH: ${PASSWORD_STRENGTH}
      FRONTEND_URL: ${FRONTEND_URL}
    profiles:
      - prod
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 5s
      start_interval: 5s

  backend-ci:
    build:
      context: ./backend
      dockerfile: Dockerfile.ci
    environment:
      SPRING_PROFILES_ACTIVE: test
      JWT_SECRET: ${JWT_SECRET}
      PASSWORD_STRENGTH: ${PASSWORD_STRENGTH}
      FRONTEND_URL: ${FRONTEND_URL}
    profiles:
      - ci

  frontend:
    build: ./frontend/
    depends_on:
      backend:
        condition: service_healthy
    ports:
      - "5173:5173"
    environment:
      VITE_BACKEND_URL: ${VITE_BACKEND_URL}
    profiles:
      - prod

volumes:
  health-point-volume: